*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgba(0, 0, 10, 0.8);
}
h2,p{
    color: whitesmoke;
}
#playTicTacToe{
    color: black;
    font-size: larger;
    
}
.tabelaTicTacToe{
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
}
.celulaTicTacToe{
    width: 100px;
    height: 100px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: xxx-large;
}
.celulaTicTacToe:hover{
    border: 1px solid rgb(0, 0, 10);
    background-color: rgb(225, 225, 225);
}

